[submodule "black_pill/platform/STM32CubeF4"]
	path = black_pill/platform/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4

[submodule "thirdparty/wsh-shell"]
	path = thirdparty/wsh-shell
	url = https://github.com/whoosh-bike/wsh-shell
	branch = dev

[submodule "thirdparty/berry-lang"]
	path = thirdparty/berry-lang
	url = https://github.com/katbert-92/berry
	branch = integration_branch
